<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="cli-synapse-test-suite">
    <test name="cli-synapse-tests">
        <packages>
            <package name="baltool.synapse.*"/>
            <package name="cli.*"/>
        </packages>
    </test>
</suite>