<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" time-out="120000">
    <test name="Synapse Tests">
        <classes>
            <class name="synapse.converter.SynapseProjectConversionTest"/>
            <class name="synapse.converter.SynapseImportsTest"/>
            <class name="synapse.converter.PropertyScopeTest"/>
            <class name="synapse.model.TopologicalSorterTest"/>
            <class name="synapse.model.DependencyResolverTest"/>
            <class name="synapse.model.DependencyGraphTest"/>
        </classes>
    </test>
</suite>
