<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" time-out="120000">
    <test name="LoggerTest">
        <packages>
            <package name="blocks.*"/>
        </packages>
        <classes>
            <class name="TestConverter"/>
        </classes>
    </test>
    <test name="ParserTest">
        <packages>
            <package name="dw.parser.*"/>
        </packages>
        <classes>
            <class name="TestConverter"/>
        </classes>
    </test>
    <test name="Tibco Tests">
        <classes>
            <class name="converter.TibcoProjectConversionTest"/>
        </classes>
    </test>
</suite>
