<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" time-out="120000">
    <test name="LoggerTest">
        <packages>
            <package name="mule.v3.blocks.*"/>
            <package name="mule.v3.dw.*"/>
<!--            <package name="mule.v4.blocks.*"/>-->
<!--            <package name="mule.v4.dw.*"/>-->
        </packages>
        <classes>
            <class name="mule.v3.TestConverter"/>
            <class name="mule.v4.TestConverter"/>
            <class name="mule.v4.YamlToTomlConverterTest"/>
            <class name="mule.MuleProjectConversionTest"/>

            <!-- V4 support updated blocks -->
            <class name="mule.v4.blocks.HttpListenerTest"/>
            <class name="mule.v4.blocks.LoggerTest"/>
            <class name="mule.v4.blocks.FlowTest"/>
            <class name="mule.v4.blocks.SubFlowTest"/>
            <class name="mule.v4.blocks.SubSubTest"/>
            <class name="mule.v4.blocks.SetPayloadTest"/>
            <class name="mule.v4.blocks.VariableTest"/>
            <class name="mule.v4.blocks.ChoiceTest"/>
            <class name="mule.v4.blocks.DatabaseConnectorTest"/>
            <class name="mule.v4.blocks.HttpRequestTest"/>
            <class name="mule.v4.blocks.AsyncTest"/>
            <class name="mule.v4.blocks.OnErrorContinueTest"/>
            <class name="mule.v4.blocks.OnErrorPropagateTest"/>
            <class name="mule.v4.blocks.ErrorHandlerTest"/>
            <class name="mule.v4.blocks.VMConnectorTest"/>
            <class name="mule.v4.blocks.ConfigPropertyAccessTest"/>
            <class name="mule.v4.blocks.TransformMessageTest"/>
            <class name="mule.v4.blocks.RaiseErrorTest"/>
            <class name="mule.v4.blocks.TryTest"/>
            <class name="mule.v4.blocks.ForEachTest"/>
            <class name="mule.v4.blocks.ScatterGatherTest"/>
            <class name="mule.v4.blocks.FirstSuccessfulTest"/>
            <class name="mule.v4.blocks.SchedulerTest"/>
            <class name="mule.v4.blocks.MqSubscriberTest"/>
            <class name="mule.v4.model.MuleModelTest"/>
        </classes>
    </test>
</suite>
