<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" time-out="120000">
    <test name="LoggerTest">
        <packages>
            <package name="mule.v3.blocks.*"/>
            <package name="mule.v3.dw.*"/>
<!--            <package name="mule.v4.blocks.*"/>-->
<!--            <package name="mule.v4.dw.*"/>-->
        </packages>
        <classes>
            <class name="mule.v3.TestConverter"/>
            <class name="mule.v4.TestConverter"/>
            <class name="mule.v4.blocks.HttpListenerTest"/>
        </classes>
    </test>
</suite>
