<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" time-out="120000">
    <test name="LoggerTest">
        <packages>
            <package name="blocks.*"/>
            <package name="dw.*"/>
        </packages>
        <classes>
            <class name="TestConverter"/>
        </classes>
    </test>
</suite>
